/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
*.log
npm-debug.log
yarn-error.log
/auth.json

# IDE Helpers
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
